.dashboard-container {
    display: flex;
    min-height: calc(100vh - 160px); /* Adjust based on Navbar/Footer height */
      background-image: url('/react-car-shop/images/banner-bg.png');
}

.dashboard-sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    padding: 1.5rem 1rem;
    flex-shrink: 0;
}

.sidebar-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #ff9900ff;
}

.sidebar-subtitle {
    font-size: 0.9rem;
    color: #adb5bd;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-link {
    color: #dee2e6;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    transition: background-color 0.2s, color 0.2s;
    display: flex;
    align-items: center;
}

.sidebar-link:hover {
    background-color: #495057;
    color: #fff;
}

.sidebar-link.active {
    background-color: #ff9900ff;
    color: #212529;
    font-weight: bold;
}

.dashboard-content {
    flex-grow: 1;
    padding: 2rem;
    background-color: #f8f9fa;
    overflow-y: auto;
}
